@import "../../variable";

.contact {
    background-color: $c-color-grey;
padding-bottom: 10rem;
}

.formulaire {
    // background-image: url(../../img/contact.jpg);
    background-image:linear-gradient(105deg,rgba($c-white,0.8) 0%,rgba($c-white,0.9) 50% , transparent 50%),url(../../img/contact.jpg);

    background-size: 100%;
    margin: 5rem 10rem;
    height: 60rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 5rem rgba($c-black,0.9);

    &__form{
        width: 50%;
        padding:6rem;
    }
}
